.manager{
    margin-top: 66px;
    margin-left: 200px;
    position: absolute;
    /* position: sticky;
    float: right; */
    padding: 20px;
    font-size: 14px;
    width: calc(100% - 200px);
    height: 1000px;
}

.employee,
.order,
.product-manager,
.report,
.brand{
    width: 100%;
}

.action{
    padding: 0 10px;
}

.product-img-manager{
    width: 70px;
    height: 50px;
}

.edit svg{
    color: rgb(255, 136, 0);
}   

.detail-list svg{
    color: rgb(0, 94, 255);
}

.status{
    font-weight: 700;
    color: rgb(0, 147, 7);
}